<header class="header">
  <% if (user) { %>
    <div class="welcome">Здравей, <%= user.name %>!</div>
    <a href="/logout" class="btn btn-logout">Изход</a>
  <% } else { %>
    <a href="/login" class="btn btn-login">Вход</a>
  <% } %>
</header>