<nav class="sidebar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#">Gems</a></li>
    <li><a href="#">Creations</a></li>
    <li><a href="#">Video AI</a></li>
    <li><a href="#">Create Image</a></li>
    <li><a href="#">Edit Image</a></li>
  </ul>
</nav>