<main class="moderator">
  <h1>ะะพะดะตัะฐัะพััะบะธ ะฟะฐะฝะตะป</h1>
  <p>ะะพะฑัะต ะดะพััะป, <%= user.name %>!</p>
  <ul>
    <li><a href="/user/list">๐ ะกะฟะธััะบ ั ะฟะพััะตะฑะธัะตะปะธ</a></li>
    <li><a href="/activity-logs">๐ ะะฝะตะฒะฝะธัะธ ะฝะฐ ะดะตะนััะฒะธั</a></li>
  </ul>
</main>